@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    padding:0 ;
    margin:0;
    font-family: "Poppins", sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    box-shadow:0 0 5px hsl(240, 66%, 74%);
    align-items: center;
    flex-grow: 1;
    }
header img{
    width: 50px;
    height: 50px;
    

}

nav{
    display: flex;
    
}


nav ul{
    display: flex;
    list-style: none;
    gap: 7rem;
}




button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    
}
.material-symbols-outlined{
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.material-symbols-outlined:hover{
    font-weight: 600;
    
}


    



@media (max-width:925px){
    
   
    nav, button{
        display: none;
        
        
    }
    header img{
         max-width: 30px;
         height: 30px;  
         filter: drop-shadow(5px 5px 5px grey);

    }
    .material-symbols-outlined{
        display: flex;
        align-items: center;
        
        
    }
}